.about {
	background: url("@img/about_bg3.jpg") no-repeat;
	background-size: cover;
	height: max-content;
	background-position: center;
	z-index: -100;
	width: 100vw;
	&__title {
		padding-top: 57px;
		@include fontMontserrat(700, 36px, 48px);
		color: #fff;
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__item {
		&-img {
			margin: 0 auto;
			display: block;
		}
		&-text {
			margin-top: 25px;
			@include fontLoto(700, 16px, 24px);
			font-style: italic;
			color: #fff;
			width: 85vw;
		}
		align-self: center;
		padding-top: 45px;
	}
	&__copyright {
		margin: 0 auto;
		padding-top: 37px;
		@include fontLoto(400, 14px, 21px);
		width: 80vw;
		color: #a291a5;
		padding-bottom: 22px;
		border-bottom: 3px solid #645766;
	}
}
@media (min-width: $md2) {
	.about {
		background: url("@img/about_bg.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		&__title {
			padding-top: 85px;
			@include fontMontserrat(700, 42px, 44px);
		}
		&__block {
			display: grid;
			margin-top: 25px;
			grid-template-columns: repeat(2, 1fr);

			column-gap: 65px;
		}
		&__item {
			&-img {
				margin: 0 auto;
				display: block;
			}
			&-text {
				margin-top: 35px;
				@include fontLoto(700, 16px, 24px);
				font-style: italic;
				color: #fff;
				width: auto;
			}
			align-self: center;
			padding-top: 45px;
		}
		&__copyright {
			width: 90vw;
		}
	}
}
@media (min-width: $md3) {
	.about {
		&__title {
			padding-top: 110px;
			@include fontMontserrat(700, 48px, 50px);
		}
		&__block {
			display: grid;
			margin-top: 25px;
			grid-template-columns: repeat(3, 1fr);
			row-gap: 55px;
			column-gap: 95px;
		}
		&__item {
			&-text {
				margin-top: 25px;
			}
		}
		&__copyright {
			padding-top: 70px;
			width: 75vw;
		}
	}
}
